
@model Hello1.Models.ViewModel.ViewMovie

@{
    ViewBag.Title = "Movie Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Movie's Name is @Model.Movie.Name</h1>
    <h5>ID = @Model.Movie.ID</h5>
    <h5>Dirctor is @Model.Movie.Dirctor</h5>
    <h5>Release Date is @Model.Movie.Release.Value.ToString("dd-MM-yyyy")</h5>
    <h5>Average Review is @Model.Movie.AverageReviewOutOfTen /10</h5>
    <h5>Number In Stock is @Model.Movie.NumberInStock</h5>
    <h5>Price for Movie @Model.Movie.Price $</h5>
    <h4> Genres are:</h4>

    @if (Model.Genres.Count() == 0)
    {
        <p> there are no Geners for this Movie</p>
    }

    @foreach( var Genres in Model.Genres)
    {
        <h5>@Genres.Name</h5>
        }


</body>
</html>

