@model Hello1.Models.Movies

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>movie's Name</th>
            <th>Geners</th>
            <th>Edit option</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Viewmovie in Model.MoviesList)
        {
            <tr>
                <th>@Html.ActionLink(@Viewmovie.Movie.Name, "Details/" + @Viewmovie.Movie.ID, "Movies") </th>
                <th>
                    @foreach (var Genres in Viewmovie.Genres)
                    {
                        @Html.ActionLink(@Genres.Name +" " , "Details/" + @Genres.Name, "Genres")
                        }
                </th>
                <th>@Html.ActionLink("Edit", "Edit/" + @Viewmovie.Movie.ID, "Movies")</th>
            </tr>
        }

    </tbody>

</table>

@Html.ActionLink("Add New movie", "New/", "Movies")